.signup {
  display: flex;
  flex-direction: column;
  width: 380px;

  @media(max-width: 45em) {
    width: 100%;
  }

  .title {
    margin: 10px 0;
  }

  button {
    @media(max-width: 45em) {
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
    }
  }
}